body {
    background: white url("images/background.gif") no-repeat;
	background-position: right top;
}

li a {
	display: block;
	text-align: left;
	padding: 0;
	color: blue;
}

h1, h2, h3, p {
	display: block;
	text-align: left;
	padding: 0;
	color: blue;
}